@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    
}

body{
    margin: 0 auto;
    width: 100%;
    
}


/* Contenu principal */
html {
    /*min-width: 100%;*/
    max-width: 1440px;
    padding-top: 25px;
    margin: auto;
}
/*header*/
.style-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    padding: 0 30px;
    margin: auto;
    box-sizing: border-box;

}
.image-header{
    width: 61.09px;
    height: 19px;
}

.ancres{
    display: flex;
    flex-direction: row;
}
.nav-lien a{
    text-decoration: none;
    width: 113px;
    height: 19px;
    left: 138px;

    font-family: "Raleway";
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;

    padding: 23px 23px 10px 23px;
}
.nav-lien1 a{
    text-decoration: none;
    width: 63px;
    height: 19px;
    left: 318px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
   padding: 23px 23px 10px 23px;
}

.nav-lien1:hover a {
    border-top: #0065fc 2px solid;
    color: #0065fc;
}
.nav-lien:hover a {
    border-top: #0065fc 2px solid;
    color: #0065fc;
}
.main{
    max-width: 1400px;
    margin: auto;
    padding: 0 30px;
}

.recherche-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    padding-top: 18px;
}

.recherche-header h1 {

    height: 26px;
    left: 55px;
    top: 126px;

    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
.recherche-header-p {
   min-width: 296px;
   height: 19px;
   font-weight: 400;
   font-size: 16px;
   padding-bottom: 28px;
}

.recherche-result{
    flex-direction: row;
    display: flex;
}

.recherche-form{
    display: flex;
    flex-direction: row;

    width: 418px;
    height: 49px;

    margin-bottom: 30px;
}
.recherche-form-icon-input{
    display: flex;
    flex-direction: row;
    
    width: 75%;
    height: 49px;

    background-color: #ffffff;
    border-radius: 15px;

}
.recherche-form-icon{
    width: 15%;
    max-height: 49px;
    text-align: center;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 15px 0 0 15px;
    padding-top: 14px;
}

.recherche-form-icon i {
    width: 100%;
    height: 18px;
}
.recherche-form-input {
    width: 75%;;
    height: 49px;

    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    background-color: #ffffff;
    border: 1px solid #f2f2f2;

    padding-right: 25px;
}
.recherche-form-input-btn {
   min-width: 145px;
   height: 49px;
   font-weight: 700;
   font-size: 18px;
   text-align: center;
   color: white;
   background-color: #0065fc;
   border: 1px solid #0065fc;
   border-radius: 0 15px 15px 0;
   cursor: pointer;
}
.recherche-form-input-btn1{
    display: none;
}

.search-filters {
    display: flex;
    flex-direction: row;
    min-width: 915px;
    gap: 50px;
    margin-bottom: 30px;
}
.search-filters-title {
    width: 54px;
    height: 21px;
    padding-top: 10px;
}
.search-filters-title h2 {
    font-weight: 700;
    font-size: 18px;
}
.search-filters-0 {
    display: flex;
    flex-direction: row;
    gap: 40px;
}



 
.search-filters1 {
    border-style: none;
    background: none;
    border: 2px #d9d9d9 solid;
    border-radius: 32px;
    cursor: pointer;
    padding: 13px 20px 13px 20px;
    font-weight: 700;
    font-size: 17px;
}
.search-filters1 i {
    color: #0065fc;
    margin-right: 5px;
    font-size: 22px;
}
.search-filters1:hover {
    background-color: #deebff;
}
.recherche-result i {
    width: 24px;
    height: 24px;

    text-align: center;
    color: #0065fc;
    border: 2px #d9d9d9 solid;
    border-radius: 50%;
    padding-top: 2px;
}
.recherche-result p {
    min-width: 412px;
    height: 19px;

    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
    margin: 5px 0 0 16px;
    padding-bottom: 20px;
}
.main-hebergement-popular{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 626px;
    margin-bottom: 40px;
    gap: 35px;
    flex-direction: row;



}



.main-hebergement-popular a{
    text-decoration: none;
    color: black;

}

.main-hebergement{
    max-width: 66%;
     max-height: 626px;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 40px 30px 0 30px;
}

.main-hebergement h2{
    width: 278px;
    height: 26px;
    margin-bottom: 25px;
    padding-left: 25px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.main-hebergement-cartes{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
   gap: 25px;
}
.main-hebergement-carte{
    max-width: 30%;
    background-color: white;
    border-radius: 20px;
    color: #ffffff;

    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.main-hebergement-cartes img{
    width: 95%;
    height: 124px;
    border: 5px solid #ffffff;
    border-radius: 20px 20px 0 0;
    object-fit: cover;

}
.hebergements-carte{
    margin-left: 20px;
}

.hebergements-carte h3{
    width: 95%;
    height: 10%;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
}

.hebergements-carte p{
    display: flex;
    flex-direction: row;
    width: 204px;
    height: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
}
.stars{
    display: flex;
    flex-direction: row;
}

.stars i{
    font-size: 12px;
    color: #0065fc;

}
.ecart i{
    margin-right: 3px;
}

  .star-grey i{
    color: #d9d9d9;
    margin-left: 3px;
}

.ecart .star-grey{
    display: flex;
    margin-left: -3px;

}
.affplus{
    width: 107px;
    height: 21px;
    font-size: 18px;
    margin: 40px 0 0 15px;
}


/*Les plus populaire*/
.asideContainer{
    display: flex;
    flex-direction: column;
    max-width: 37%;
    max-height: 625px;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 40px 0px 40px 0;

}
.icon{
    color: blue;
}

.direct-popular{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 0px 16px 26px 16px;
    box-sizing: border-box;
    
}

.carte-direct{
    display: flex;
	flex-direction: column;
    justify-content: space-between;
	height: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
}
.Cartepopulaire{
    display: flex;
	
	border-radius: 20px;
	width: 90%; 
	height:120px;
	background-color: white;
	padding:5px;
   
}

.Cartepopulaire img{
    border-radius: 20px 0 0 20px;
	width:35%;
	object-fit:cover;
  
}
.carte-popular-title h3{
    font-size: 16px;
}
.carte-popular-title p{
    font-size: 14px;
}
.Carte-Popular{
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding:5px 20px 5px 10px;
}
.articlepop{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0 30px;
}


/*Activités*/
.containeractivite{
    border-radius: 20px;
	margin-top:50px ;
}
.direct-activite{
    display:flex ;
	flex-direction: row;
	justify-content:space-between ;
	flex-wrap: wrap;
    margin-top: 30px;
}

.carte-activités h3{
    padding-left:5px;
    font-size: 16px;
}


.Card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 20px; 
	width: 22%;
	height: 400px ;
	background: white;
    text-decoration: none;
    color: #000000;

}
.Card img{
    border-radius: 20px 20px 0 0;
	width: 100%;
	height:88%;
	object-fit:cover;
}
.carte-activités{
    padding:5px 0px 0px 15px;
  
}

/*Footer*/
.footer-content {
    display: flex;
    flex-direction: row;
    width: 95%;
    max-width: 1400px;
    max-height: 225px;
    background: #f2f2f2;
    gap: 13%;
    padding-bottom: 25px;
    margin: 0 auto;
    margin-top: 30px;
}
.footer-1 {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
}
.footer-1 h3 {
    min-width: 77px;
    height: 21px;
    font-weight: 700;
    font-size: 18px;
    margin: 25px 0 15px 0;
}
.footer-1 a {
    min-width: 150px;
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    margin-bottom: 10px;
}
	






/********MEDIA TABLETTE*******/

@media screen and (min-width:767px) and (max-width:1024px) {
    html{
        max-width: 1024px;
    }
    .header-img {
        padding-left: 15px;
    }
    .recherche-header h1{
        width: 100%;
        height:26px ;
    }
    .recherche-header-p{
        width:296px ;
        height: 19px;
    }
    .search-filters {
        min-width: 90%;
        max-width: 95%;
        flex-direction: column;
        

        gap: 15px;
    }
    .search-filters1{
        font-size: 15px;
        padding: 13px 15px 13px 15px;
        
    }
    .search-filters-0 {
        width: 100%;
        gap: 10px;
       
    }
     .main{
        max-width: 992px;
     }


     .main-hebergement{
        flex-direction: column;
        max-width: 100%;
        height: 587px;
        margin: 0 auto;


     }
      
       
     .asideContainer{
       max-width: 100%;
       padding: 30px ;
        
     }

     .main-hebergement-cartes{
        width: 100%;
        gap: 25px;

     }
     .main-hebergement-popular{
        flex-direction: column;
        height: 100%;
        

     }
     .main-hebergement-popular a{
        height: 100%;
        width: 95%;
        
     }
      .main-activite-cartes{
        gap: 65px;
        justify-content: left;
        width: 100%;
    }

    .main-activite-carte{
        height: 267px;
        width: 182px;
        border-radius: 20px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    }
    .main-populaire-carte img{
        height: 144px;
        width: 106px;
    }
    .articlepop{
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 50px;
        justify-content: space-around;

    }
    .Cartepopulaire img{
        min-width: 30%;
        max-width: 92.75%;
        margin-left: 0;

    }

    .carte-direct{
        height: 144px;
        width: 30%;
        border-radius: 20px;

    }
    .articlepop{
        margin: 0;
    }
    .Carte-Popular{
        width: 80%;
        padding: 10px 0 30px 10px;
    }

    /*Activités*/
    .containeractivite{
        width:100%
    }
 
  .carte-activités h3{
    padding-left: 12px;
  }
    

    .Card{
        height: 267px;
    }
    .Card img{
        height: 200px;
        width: 100%;
    }

    .main-hebergement h2{
        margin: 10px 0 25px 20px;
        padding: 0;
    }






/*Footer*/
.footer-content {
    width: 93%;
    gap: 20px;
    padding-bottom: 35px;
}
.footer-1 {
    padding-left: 50px;
}
}




/*MOBILE RESPONSIVE*/
@media screen and  (max-width: 768px) {
    html{
        max-width: 768px;
    }
    .style-header{
        flex-direction: column;
        align-items: center;
        min-width: 100%;
        max-width: 768px;
        gap: 25px;
        padding: 0;
        margin: 0;
    }
    /*Header*/
    .ancres{
        width: 100%;
    }
    .nav-lien{
        width: 50%;
        text-align: center;
        border-bottom: 3px solid #d9d9d9;
        padding-bottom: 25px;
    
    }
    .nav-lien1{
        width: 50%;
        text-align: center;
        border-bottom: 3px solid #d9d9d9;
        padding-bottom: 25px;
       
    }

    .nav-lien:hover, .nav-lien1:hover{
        border-bottom: #0065fc 3px solid;
        
    }
    .nav-lien:hover a, .nav-lien1:hover a{
        border-top: none;

    }
    
    
   


    
    /*main*/
    .main {
        min-width: 320px;
        max-width: 768px;
        padding: 0;
        margin: 0;
    }

    .recherche{
        width: 95%;
        padding: 0;
        margin: auto;
    }
    .recherche-header{
        max-width: 100%;
        padding: 0 5px;
        margin: 30px auto 0 auto;
    }
    .recherche-header h1{
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .recherche-header h1{
        min-width: 300px;
        margin-bottom: 35px;
    }
    .recherche-form{
        justify-content: center;
        width: 100%;
       
        padding: 0;
        margin: auto auto 30px auto;
    }

    .recherche-form-input{
        min-width: 60%;
        max-width: 375px;
        padding-right: 25px;
    }
    .recherche-form-input-btn{
        display: none;
    }
    .recherche-form-input-btn1{
        display: flex;
        min-width: 49px;
        height: 49px;
        color: #f2f2f2;
        background-color: #0065fc;
        border: 1px solid #0065fc;
        border-radius: 0 15px 15px 0;
        padding: 15px 0 0 15px;
    } /*FILTRES*/
    .search-filters {
        flex-direction: column;
        min-width: 95%;
        max-width: 95%;
        height: auto;
        gap: 0;
        padding: 0;
        margin: auto auto 35px auto;
    }
    .search-filters-title {
        margin: 0 0 15px 0;
    }
    .search-filters-0 {
        flex-wrap: wrap;
        width: 100%;
        gap: 15px;
        padding: 0;
        margin: 0;
    }
    .search-filters-0 div{
        min-width: 47%;


    }
    .search-filters1 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50px;
        font-size: 12px;
        align-items: center;
        padding: 13px 0 13px 10px;
    }
   

    .recherche-result{
       display: flex;
       flex-direction: row;
       padding-top: 10px;

    }
    .recherche-result i{
        padding: 3px 3px 0 3px;
    }
    .recherche-result p{
        min-width: 255px;
        max-width: 375px;
        height: 57px;
        font-size: 13px;
        margin: 8px 10px 0 0;
        padding: 0 0 0 10px;
    }
    /****LES + POPULAIRES*/
    .main-hebergement-popular{
        flex-direction: column-reverse;
        justify-content: center;
        min-width: 100%;
        max-width: 768px;
        height: 100%;
        margin: 10px 0 0 0;
    }
    .asideContainer{
        min-width: 320px;
        max-width: 768px;
        height: 750px;
        max-height: 600px;
        border-radius: 0;
        padding: 0 0 50px 0;

    }
    .fa-chart-line{
        padding-right: 35px;
    }
    
    .direct-popular{
        width: 90%;
        padding: 15px;
    }
    .main-hebergement-popular a{
        height: 150px;
        margin: auto;
        
    }
    .Cartepopulaire{
        width: 100%;

    }
    .carte-direct{
        height: 41%;
        width: 100%;
    }
    .Carte-Popular{
        width: 145px;
        margin: 10px 10px 5px 5px;
    }
    .Cartepopulaire img{
        width: 130px;
       
    }
    /*Hebergement*/
    .main-hebergement{
     max-width: 100%;
    max-height: 1475px;
    background-color: white;
    padding: 0;
     margin: 20px 0 0 0;
    }
    .main-hebergement-cartes{
        flex-direction: column;
        min-width: 95%;
        max-width: 768px;
    } 
    .main-hebergement h2{
        margin: 10px 0 25px 20px;
    }
    .main-hebergement-carte{
        min-width: 90%;
        height: 199px;
        margin: auto;
    }
    .affplus {
        display: none;
    }
    .containeractivite{
        min-width: 320px;
        max-width: 768px;
        height: auto;
        max-height: 1345px;
        margin: 80px 0 0 0;
      

    }
    .containeractivite h1{
        margin-left: 30px;

    }
    .containeractivite h2{
        width: 100%;
        padding: 5px 0 0 25px;
    }
     
    
    .direct-activite{
        flex-direction: column;
        min-width: 95%;
        max-width: 100%;
        gap: 20px;
    }
    .Card{
        width: 90%;
        height: 190px;
        margin: auto;
    }
    .Card img{
        width: 100%;
        height: 130px;
    }
    /*footer mob*/
    .footer-content {
        flex-direction: column;
        min-width: 100%;
        max-width: 768px;
        max-height: 501px;
        padding: 70px 0 50px 0;
        margin: 60px auto 0 auto;
        gap: 50px;

    }
    .footer-1 {
    
        padding: 0;
    }
    .footer-1 h3 {
        margin: 0 0 15px 20px;
    }
    .footer-1 a {
        margin: 15px 0 0 20px;
    }


}


    

